/* .button {
  padding: 8px 15px;
  font-size: 14px;
  min-height: 25px;
  color: white;
  height: auto;

  // border: none;
  border-radius: 4px;
  cursor: pointer;
  // transition: background-color 0.3s ease;
  background-color: #2179b3;
} */

/* .button:hover {
  background-color: #1d6b9e;
} */

.button {
  padding: 8px 15px;
  font-size: 14px;
  min-height: 25px;
  color: white;
  height: auto;

  border-radius: 4px;
  cursor: pointer;

  background-color: rgb(15, 15, 15); /* Lime Green */
}

.button:hover {
  background-color: rgb(40, 40, 40); /* Darker Lime Green for hover effect */
}
